@media only screen and (max-width: 600px) {
    body {
      background-color: black;
    }
    /* navbar  */
    #navbar{
    }
    #logo{
        width:1rem;
        margin:0.5rem;
    }
    #logo i{
        font-size:1rem;
    }
    #logo p{
        font-size:0.5rem;
    }
    #navbar ul{
        display:flex;
        flex-wrap:wrap;
    }
    #navbar li{
        list-style: none;
        font-size: 1rem;
    }
    #navbar li a{
        padding:0rem;
        margin:0.5rem 0rem 0.1rem 0.5rem;
        transition: none;
    }
    #navbar li a:hover{
        background-color:#FF0000;
        color:white;
        border-top-right-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
    }
 /* home section  */
 #home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    color:white;
    padding:0rem 0rem;
    margin:0rem;
    height: 100vh;
    width: 100vw;
    border-top: 2px solid #FF0000;
}

#home::before{
    content:"";
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#welcome{
    text-align: center;
}
#home h1{
    
}
#home hr{
    line-height: 0.4rem;
    background-color: white;
}
#home i{
    font-size:0.8rem;
}
#home p{
    display: block;
    text-align: center;
    padding: 2rem;

}
.btn{
    padding:0rem 1rem;
    border:2px solid white;
    border-bottom-left-radius: 1rem;
    border-top-right-radius:1rem;
    background-color: brown;
    color:white;
    margin:16px;
    font-size: 1.5rem;
    font-family: 'Baloo 2', cursive;
    transition: all 1s ease-in-out;
    cursor:pointer;
}

/* services   container */
.service-container{
    background-color: #2b1e16;
}
#services{
    display:flex;
    flex-direction: column;
    margin:0rem 3rem 0rem 3rem;
    position: relative;
    /* border:2px solid blue; */
}
/* deliveries city  */
#deliveries{
    background-color: black;
}
.cities{
    display: flex;
    flex-direction: row;
    justify-content: center; 
  
}
.citycol{
    /* display: block; */
    padding: 2rem 0rem; 
  
}
.citycol li a{
    text-decoration: none;
    color:white;
    font-size: 0.7rem;
    font-family: 'Baloo 2', cursive;
    transition: all 1s ease-in-out;

}
.citylink:hover{
    text-decoration: underline;
}
/* developer */
#developer{
    background-color:#2C394B;
    color:white;
}
#developer div{
    display: flex;
    flex-direction: column;
    /* border:2px solid black; */
    justify-content: center;
    align-items: center;
}
#developer div img{
    height: 150px;
    width:150px;
    /* border:2px solid black; */
   margin:1rem;
   border-radius: 2rem;
}
#developer div p{
    display: block;
    padding:3rem;
}
footer{
color:white;
}

  }
